In [1]:
import pandas as pd

In [2]:
wd = pd.read_csv("../world_data.csv")
wp = pd.read_csv("../world_population.csv")

In [3]:
wp.head()

                         Country   Population
0                    Afghanistan    38928.341
1                         Africa  1340598.113
2                  African Group  1338826.591
3                  African Union  1339423.921
4  African Union: Central Africa   158619.638

In [4]:
wd.head()

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths
0,2020-01-22,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
1,2020-01-23,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
2,2020-01-24,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
3,2020-01-25,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
4,2020-01-26,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0

In [5]:
len(wd['Country/Region'].unique())

187

In [6]:
wp = wp.rename(columns={'Country':'Country/Region'})

In [7]:
result = pd.merge(wd, wp, on=['Country/Region'])

In [8]:
result.head()

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths,Population
0,2020-01-22,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,38928.341
1,2020-01-23,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,38928.341
2,2020-01-24,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,38928.341
3,2020-01-25,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,38928.341
4,2020-01-26,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,38928.341

In [9]:
len(wd['Country/Region'].unique())

187